model_config_list: {
  config: {
    name: "retrieval",
    base_path: "/models/retrieval_index",
    model_platform: "tensorflow",
    model_version_policy: {all: {}}
  },
  config: {
    name: "ranking",
    base_path: "/models/ranking_model",
    model_platform: "tensorflow",
    model_version_policy: {all: {}}
  }
}